@model Almwdeh.Models.StudentsTbl

<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="">
        <img src=@Url.Content(Model.Photo) alt="..." class="img-circle profile_img">
    </div>
    
</div>
<!-- /menu profile quick info -->
